node_modules/*
npm-debug.log
*.swp
*.bak
log/*
run/*
.DS_Store
dump.rdb
p3api.conf
p3api.sublime-project
p3api.sublime-workspace
.idea/
.vscode/
tests/test-files
tests/test-files-*
tests/config.json
tests/data-files/

p3_api_service.err.log
p3_api_service.out.log
reqeusts_per_min.log
*.sif

