node_modules/*
npm-debug.log
*.swp
*.bak
log/*
run/*
.DS_Store
dump.rdb
p3api.conf
p3api.sublime-project
p3api.sublime-workspace
.idea/
.vscode/
tests/data-files
tests/test-files
package-lock.json
tests/test-permissions/config.json
