{
	"production": true,
	"solr": {
		"url": "http://localhost:8983/solr"
	},
	"workspaceAPI": "",
	"distributeURL": "http://localhost:3001/",
	"enableIndexer": false,
	"jbrowseAPIRoot": "",
	"queueDirectory": "",
	"publicGenomeDir": "",
	"cache": {
		"enabled": false,
		"directory": "/tmp/p3api_cache"
	}
}
