{
	"production": true,
	"solr": {
		"url": "http://localhost:8983/solr"
	},
	"workspaceAPI": "",
	"distributeURL": "http://localhost:3001/",
	"queueDirectory": "/queue",
	"publicGenomeDir": "/genomes",
  "treeDirectory": "/trees"
}
