	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'">
		<div class="fixedBar">
			<div>
				<div class="HeaderMenu">
					<ul class="MenuTop">
						<li class="MenuHead"><div data-dojo-type="cid/widget/Button" class="homeIcon"></div></li>
						<ul class="MenuPopup">
							<li class="MenuItem PopupConnector"></li>
							<li class="MenuItem">&raquo;<a href="/">PATRIC Home</a></li>
							<li class="MenuItem">&raquo;<a href="/landing/tb@patric">TB @ PATRIC</a></li>
						</ul>
					</ul>
				</div>
			</div>
		</div>
	</div>

