<!DOCTYPE html>
<html>
	<head>
		<% include header %>	
	</head>
	<body class="claro patric">
		<div id="ApplicationContainer" data-dojo-type="cid/widget/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<% include apiheader %>
			<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
			</div>
			<% include footer %>
		</div>
		<% include javascript %>
	</body>
</html>
