<html>

<head>
    <title>
        <%= doc_data.label || collection %>
    </title>
    <link rel="stylesheet" href="../resources/css/compiled.css">
</head>

<body>
    <div class="p-4">
        <div class="mb-4 text-left">
            <a href=".">< API Documentation Home</a>
        </div>
        <h1>
            <%= doc_data.label || collection %> Data 
        </h1>

        <p class="text-lg bg-red-200 border border-gray-400 p-2 m-4">There was is an error retrieving the <%= collection %> schema.  Please try again later.</p>

    </div>
</body>

</html>