	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top',splitter:false" style="border:0px;background:inherit;">
			<div id="GlobalSearchBox" data-dojo-type="cid/widget/GlobalSearch" data-dojo-props="id:'GlobalSearchBox'">
			</div>
	</div>

