		<title><%= (request&&request.local&&request.local.title)?request.local.title:"" %></title>
		<% if (request && request.production) { %>
			<link rel='stylesheet' href='/js/release/cid/resources/PATRIC.css' />
		<% } else { %>
			<link rel='stylesheet' href='/js/cid/resources/PATRIC.css' />
		<% } %>
