<html>
    <head>
        <title>BV-BRC API</title>
    </head>
    <body>
        <h1>BV-BRC API</h1>
        <div>Version: <%= pkg.version %></div>
        <div><a href="doc/">Documentation</a></div>
    </body>
</html>