			<div class="MainContent" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
				<div class="SlideShow" data-dojo-type="cid/widget/SlideShow">
					<div class="currentScreen">
						SLIDE SHOW
					</div>	
					<div class="slideSelectorWrapper">
						<div class="slideSelector">
							<table>
								<tr>
									<td>1</td>
									<td>2</td>
									<td>3</td>
									<td>4</td>
								</tr>	
							</table>
						</div>
					</div>
				</div> 
				<div class="layer">
					<div class="leftColumn">
						<% include whatcanido %>
					</div>
					<div class="rightColumn">
						<div class="sidebarSection">
							<div data-dojo-type="cid/widget/BLAST"></div>		
						</div>
	
						<div class="sidebarSection">
							<div data-dojo-type="cid/widget/WordCloud"></div>		
						</div>
					</div>
				</div>
			</div>
