<!DOCTYPE html>
<html>
	<head>
		<% include header %>	
	</head>
	<body class="claro patric">
		<div id="ApplicationContainer" data-dojo-type="cid/widget/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false">
			<% include patricheader %>
			<% include taxonomy-embedded %>
			<% include footer %> 
		</div>
		<% include javascript %>
	</body>
</html>
