	<table style="width:100%;">
					<tbody>
						<tr>
							<td class="PatricFeaturesLabel" colspan="2">WHAT CAN I DO @ PATRIC?</td>
						</tr>
						<tr>
							<td class="PatricFeaturesColumn">
								<label>Transcriptomics Data at PATRIC</label>
								<p>PATRIC has three primary types of experiment data, Taxonomy or Genome level, Gene or CoDing Sequence level, and Your Own Uploaded Experiment data.  Learn about these types of experiment data, where you can find them, and some of the potential analyses you can do.</p>
							</td>
							<td class="PatricFeaturesColumn">
								<label>Protein Family Sorter</label>
								<p>Compares protein families across closely related or diverse groups of genomes, visualizes them using interactive heatmaps, and generates multiple sequence alignments and phylogenetic trees for individual families. The heatmap view is an interactive visualization tool that provides an overview of the distribution of proteins across a selected set of genomes.</p>
							</td>
	
						</tr>
						<tr>
							<td class="PatricFeaturesColumn">
								<label>Transcriptomics Data at PATRIC</label>
								<p>PATRIC has three primary types of experiment data, Taxonomy or Genome level, Gene or CoDing Sequence level, and Your Own Uploaded Experiment data.  Learn about these types of experiment data, where you can find them, and some of the potential analyses you can do.</p>
							</td>
							<td class="PatricFeaturesColumn">
								<label>Protein Family Sorter</label>
								<p>Compares protein families across closely related or diverse groups of genomes, visualizes them using interactive heatmaps, and generates multiple sequence alignments and phylogenetic trees for individual families. The heatmap view is an interactive visualization tool that provides an overview of the distribution of proteins across a selected set of genomes.</p>
							</td>
	
						</tr>
						<tr>
							<td class="PatricFeaturesColumn">
								<label>Transcriptomics Data at PATRIC</label>
								<p>PATRIC has three primary types of experiment data, Taxonomy or Genome level, Gene or CoDing Sequence level, and Your Own Uploaded Experiment data.  Learn about these types of experiment data, where you can find them, and some of the potential analyses you can do.</p>
							</td>
							<td class="PatricFeaturesColumn">
								<label>Protein Family Sorter</label>
								<p>Compares protein families across closely related or diverse groups of genomes, visualizes them using interactive heatmaps, and generates multiple sequence alignments and phylogenetic trees for individual families. The heatmap view is an interactive visualization tool that provides an overview of the distribution of proteins across a selected set of genomes.</p>
							</td>
	
						</tr>
					</tbody>
				</table>

