@import url("../../dijit/themes/claro/claro.css");
@import url("Footer.css");
@import url("HeaderBar.css");
@import url("Toolbar.css");
@import url("icons.css");
@import url("slideshow.css");
@import url("WordCloud.css");
@import url("taxon.css");
@import url("Drawer.css");
@import url("Workspace.css");
@import url("grids.css");

html, body,
body.patric {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: arial;
    background: #efefef;


}


.preheader {
	margin-top:0px;
	margin-bottom: 0px;
	background: #fff;
	background-image: url("images/critters.png");
	background-repeat: no-repeat;
	background-position: right 2px;
	background-size: auto 34px;
	height: 76px;
	padding: 0px;
}

.BRCLinks {
	display: inline-block;
	font-size: .65em;
	width: 450px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}

.BRCLinks ul{
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.BRCLinks li {
	display: inline-block;
	margin-right: 20px;
	margin-top: 0px;
	padding: 0px;
}


.pathogenPortalLogo {
	height: 76px;
	width: 300px;
	display: inline-block;
	background-size: auto 92px;
	background-repeat: no-repeat;
	background-position: 0px -10px;
	background-image: url("images/portal_logo.png");
	padding: 0px;
	margin:0px;
	float: left;
}

.rocketLogo {
	width: 50px;
	height: 50px;
}
.pigLogo,
.hostResponseLogo {
	width: 50px;
	height:50px;
}

.pathogenPortal .HeaderBar .fixedBar {
	border: 0px;
	border-top: 0px solid blue;
	border-bottom: 1px solid #333;
	background: #fff;
	box-shadow: 0px 4px 8px #111;
	overflow: visible;
	width: 100%;
	margin-bottom:0px;
}

.pathogenPortal .HeaderMenu {
	display:inline-block;
	width: 75%;
	margin: 0px;
	padding:0px;
	position: relative;
	text-align: center;
	margin-top:-41px;
	float: right;
	background: #4a593c;
	height: 41px;
	border-top-left-radius: 40px;
	font-weight: 300;
}

.pathogenPortal .MenuHead .MultiButton {
	font-weight: 300;
}

.pathogenPortal .MenuHead .MultiButton:hover {
	color: #acae6b;
}



.pathogenPortal .HeaderBar .fixedBar > div {
	width: 1024px;
	margin: auto;
	padding-top: 0px;
	padding-bottom: 0px;
}

.patric table {
	border-spacing:0px;
	border-collapse: collapse;
}

.MainContent {
	padding:0px;
	padding-top: 0px;	
	padding-bottom: 25px;
	overflow: auto;
	z-index: 50;
}

.patric A,
.patric A:visited,
.patric A:hover {
	text-decoration: none;
	color: inherit;
}


.patric A:hover {
	color: #4a593c;
}


.wideLayer,
.layer {
	display: block;
	width: 1024px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	background: #fff;
	
}

.wideLayer {
	width: 100%;
}

.PatricFeaturesColumn {
	width: 375px;
	padding: 4px;
	font-size: .75em;
	color: #333;
	text-align: left;
	vertical-align: top;
}
.PatricFeaturesColumn label {
	font-weight: 900;
	margin:0px;
}


.PatricFeaturesLabel {
background: -moz-linear-gradient(left,  rgba(24,68,104,0) 0%, rgba(24,68,104,0.65) 95%, rgba(24,68,104,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(24,68,104,0)), color-stop(95%,rgba(24,68,104,0.65)), color-stop(100%,rgba(24,68,104,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(24,68,104,0) 0%,rgba(24,68,104,0.65) 95%,rgba(24,68,104,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(24,68,104,0) 0%,rgba(24,68,104,0.65) 95%,rgba(24,68,104,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(24,68,104,0) 0%,rgba(24,68,104,0.65) 95%,rgba(24,68,104,0.65) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(24,68,104,0) 0%,rgba(24,68,104,0.65) 95%,rgba(24,68,104,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00184468', endColorstr='#a6184468',GradientType=1 ); /* IE6-9 */
font-weight: 900;	
	padding:4px;
	margin-top:0px;
	
}

.layoutContainer {
	width: 100%;
	height: 100%;
	margin:0px;
	padding:0px;
	overflow: hidden;
}

.sidebarColumn {
	padding: 4px;
	overflow-x: visible;	
}

.sidebarSection {
	width: 100%;
	background: #dedede;
}

.leftColumn {
	display: inline-block;
	width: 49%; 
	padding-top: 0px;
	min-height: 440px;
}

.rightColumn {
	width: 49%;
	vertical-align: top;
	float:right;
	padding-top: 0px;
	top: 0;
	min-height: 440px;
}

.smallLeft.leftColumn {
	width: 225px;
}

.smallLeft.rightColumn {
	width:790px;
}

.featureLogo {
	margin: 4px;
}
.siteFeature {
	vertical-align: top;
}
.featuringHeader,
.triangleHeader {
	font-size: 1.4em;
	color: #4a593c;
	text-align: center;
	font-weight: 900;
	text-shadow: 2px 2px 16px #333;
}
.featuringHeader {
	font-size: 1em;
	text-shadow: none;
	color: #333;
	font-weight: 600;
}

.newsSection .title,
.aboutSection .title{
	font-size: 1.1em;
	color: #333;
	border-bottom: 1px dotted #888;
}

.newsSection .title {
	text-align: right;
}

.featuringTitle {
	color: #4a593c;
	font-size: 1.1em;
	text-align: center;
	font-weight: 600;
}

.newsSection,
.aboutSection {
	padding: 8px;
}

.sectionContent {
	font-size: .75em;
}


.featuringDescription {
	font-size: .75em;
}
.patric .PatricTool.dijitTabContainer{
	margin:8pxj
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 4px;
}

.triangleWrapper {
	position: relative;
}

.triangleWrapper > * {
	height: 420px;
	width: 600px;
}

.embedContent .triangleWrapper > * {
	width: 250px;
	height: 175px;
}


.pathogenPortal .MenuTop {
        display: inline-block;
        list-style-type: none;
        text-align: left;
        margin-before: 20px;
        margin-after: 0px;
        padding-start: 0px;
        -webkit-margin-before: 10px;
        -webkit-margin-after: 0px;
        -webkit-padding-start: 0px;
        overflow: visible;
        margin-left: 10px;
	margin-right: 10px;
        vertical-align: middle;
        font-size: 1.3em;
        margin-bottom: 0px;
}

.siteFeature {
	padding: 4px;
	padding-bottom: 8px;
	border-bottom: 1px solid #333;
	margin-left:4px;
	margin-bottom:2px;
background: rgb(231,238,212); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(231,238,212,1) 0%, rgba(250,251,245,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(231,238,212,1)), color-stop(100%,rgba(250,251,245,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(231,238,212,1) 0%,rgba(250,251,245,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(231,238,212,1) 0%,rgba(250,251,245,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(231,238,212,1) 0%,rgba(250,251,245,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(231,238,212,1) 0%,rgba(250,251,245,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eed4', endColorstr='#fafbf5',GradientType=1 ); /* IE6-9 */
}

.dataTypeSection {
	margin-top: 10px;
	margin-bottom: 10px;
}
.dataTypeSection .title {
	margin-left: 10px;
	text-align: left;
	font-weight: 300;
	color: #333;
	font-size: 1.3em;	
}
.dataSection {
	min-height: 80px;
	padding: 4px;
}
.dataSection IMG {
	height: 75px;
	width: 75px;
	float: left;
	margin: 4px;
}

.pageContent .intro {
	font-size: .75em;
}
.dataSection a{
	display: inline-block;
	margin:auto;
	margin-top: 30px;
	vertical-align: middle;
}

.dataSection li a {
	margin: 4px;
}

.legacySection .dataSection {
	font-size: .8em;
}


.dataTypeSection .dataSection {
background: rgb(231,238,212); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(231,238,212,1) 0%, rgba(250,251,245,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,238,212,1)), color-stop(100%,rgba(250,251,245,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(231,238,212,1) 0%,rgba(250,251,245,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(231,238,212,1) 0%,rgba(250,251,245,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(231,238,212,1) 0%,rgba(250,251,245,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(231,238,212,1) 0%,rgba(250,251,245,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eed4', endColorstr='#fafbf5',GradientType=0 ); /* IE6-9 */

}

.pathogenPortal .footer{
	background: #d0bdbe;;
}
